@font-face {
    font-family: 'blogFont';
    src: url(../CityBrawlersBoldCaps.otf);
}

body {
    background-image: url(../images/abstract-timekeeper.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: 'blogFont', Arial, sans-serif;

    h3 {
        font-size: 2.5em;
        margin: 0;
    }

    h5 {
        font-size: 1.5em;
        margin: 10px 0;
        font-weight: bold;
    }

    p {
        font-size: 1.2em;
        margin: 10px 0;
    }

    .flexContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 45px;
        justify-content: center;
        margin: 40px auto auto auto;
        width: 95%;
    }

    // Styles for the Navbar

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 400px;
            height: 200px;
            transition: filter 0.3s ease-in-out;
        }

        form {
            margin-right: 25px;
            display: flex;
            align-items: center;
            input {
                width: 300px;
                border-radius: 30px;
                border: none;
                margin-right: auto;
                background-color: #E5E5E5;
                text-align: center;
                font-family: 'blogFont';
                font-size: 3.2em;
                color: #B0B0B0;
            }

            button {
                background-color: #583B75;
                color: white;
                border: none;
                border-radius: 50px;
                padding: 10px;
                margin-left: 20px;
            }
        }
    }
}
