body {
    background-color: grey;
    color: white;
    .flexContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 45px;
        justify-content: center;
        margin: 40px auto auto auto;
        width: 95%;
    }
}